/* src/styles/global.css */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "Chloe";
  src: url("./fonts/Chloe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-text-stroke-width: 1.5px;
}
