.heading {
  font-family: "Chloe", serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.035em;
  text-wrap: balance;
  margin: 0;
  -webkit-text-stroke-width: 1.5px;

  .ligature {
    font-variant-ligatures: discretionary-ligatures;
    letter-spacing: normal;
  }

  /* H1 */
  &.heading--1 {
    font-size: clamp(7.6rem, 10vw, 20rem); /* 48px to 76px */
    line-height: 1;
  }

  /* H2 */
  &.heading--2 {
    font-size: clamp(6.4rem, 10vw, 12rem); /* 36px to 61px */
  }

  /* H3 */
  &.heading--3 {
    font-size: clamp(4.6rem, 5vw, 8rem); /* 28px to 49px */
  }

  /* H4 */
  &.heading--4 {
    font-size: clamp(2.2rem, 10vw, 3.9rem); /* 22px to 39px */
  }

  /* H5 */
  &.heading--5 {
    font-size: clamp(1.8rem, 10vw, 3.1rem); /* 18px to 31px */
  }

  /* H6 */
  &.heading--6 {
    font-size: clamp(1.5rem, 10vw, 2.5rem); /* 15px to 25px */
  }
}

/* Base styles for text */
.text {
  color: inherit;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  line-height: 1.25;
  font-size: clamp(1.8rem, 1vw, 2.4rem); /* 14px to 16px */
  margin: 0;
}

/* Italic text modifier */
.text--italic {
  font-style: italic;
}

/* Large text modifier */
.text--large {
  font-size: clamp(2.4rem, 1.5vw, 3.2rem); /* 20px to 32px */
}

/* Small text modifier */
.text--small {
  font-size: clamp(1.4rem, 1vw, 2rem); /* 14px to 16px */
}

/* Caption text modifier */
.text--caption {
  font-size: 1.2rem; /* 12px fixed */
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
