---
import '../styles/index.css';

import SaveTheDate from '../components/SaveTheDate.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Twitter -->
    <meta name="twitter:title" content="Reserva la Fecha" />
    <meta name="twitter:description" content="10.10.2025 - Medellín, Colombia" />
    <meta
      name="twitter:image"
      content="https://santimondragon.github.io/my-wedding-page/preview.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Facebook -->
    <meta property="og:title" content="Reserva la Fecha" />
    <meta property="og:description" content="10.10.2025 - Medellín, Colombia" />
    <meta
      property="og:image"
      content="https://santimondragon.github.io/my-wedding-page/preview.jpg"
    />

    <!-- Common -->
    <link rel="icon" type="image/svg+x" href="./favicon.svg" />
    <title>Reserva La Fecha</title>
  </head>
  <body>
    <main>
      <SaveTheDate
        date="10.10.2025"
        location="Medellín, Colombia"
        couple="AURA MARIA ARIAS & SANTIAGO MONDRAGON"
      />
    </main>
  </body>
</html>
