---
import '../styles/index.css';

import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Celebrate from '../components/Celebrate.astro';
import Family from '../components/Family.astro';
import RSVP from '../components/RSVP.astro';
import Location from '../components/Location.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
  </head>
  <body>
    <main>
      <Header />
      <Hero />
      <Celebrate />
      <Family />
      <RSVP />
      <Location />
    </main>
  </body>
</html>
