---
import '../styles/index.css';

import SaveTheDate from '../components/SaveTheDate.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+x" href="/favicon.ico" />
    <title>Reserva La Fecha</title>
  </head>
  <body>
    <main>
      <SaveTheDate
        date="10.10.2025"
        location="Medellín, Colombia"
        couple="AURA MARIA ARIAS & SANTIAGO MONDRAGON"
      />
    </main>
  </body>
</html>
