<section class="celebrate section-content">
  <h2 class="text text--large text--italic">Un día para celebrar el amor</h2>
  <p class="text">
    El amor merece ser celebrado, y estamos emocionados de compartir con ustedes el inicio de esta
    nueva etapa. Su compañía hará que este día sea inolvidable, y no podemos esperar para vivir
    juntos este momento tan especial.
  </p>
</section>

<style>
  .celebrate {
    align-items: start;
    background-color: var(--white);
    gap: 2.4rem;
    height: fit-content;

    .text {
      text-wrap: balance;
      text-wrap: pretty;
      line-height: 1.35;
    }
  }
</style>
