---
import Button from './Button.astro';
import ImageBackground from './ImageBackground.astro';
import SectionOverlay from './SectionOverlay.astro';
---

<section class="dresscode">
  <SectionOverlay position="bottom" />
  <SectionOverlay position="top" />
  <ImageBackground path="/images/dresscode.jpg" alt="Dresscode Image" />
  <div class="dresscode__content">
    <div class="dresscode__columns">
      <div class="dresscode__column">
        <h4 class="text text--xl text--italic">Ellos</h4>
        <ul class="dresscode__list text">
          <li>Traje formal</li>
          <li>Zapatos formales</li>
          <li>Corbata</li>
          <li>Evita corbatas en blanco o cualquier tono de verde</li>
        </ul>
      </div>
      <div class="dresscode__column">
        <h4 class="text text--xl text--italic">Ellas</h4>
        <ul class="dresscode__list text text">
          <li>Formal</li>
          <li>Vestido o pantalón largo</li>
          <li>Elige preferiblemente colores sólidos o suaves</li>
          <li>Evita el blanco, marfil o colores cercanos</li>
          <li>Por favor, evita cualquier tono de verde</li>
        </ul>
      </div>
    </div>
    <div class="dresscode__text">
      <h3 class="heading heading--section">Dresscode</h3>
      <p class="text text--xl text--italic">Formal</p>
    </div>
    <Button text="Referencias e inspiración aquí" href="https://g.co/kgs/orJ43GH" color="white" />
  </div>
</section>

<style>
  .dresscode {
    position: relative;
    width: 100vw;
    height: 90vh;
  }

  .dresscode__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 4rem;
    padding: 4.8rem 2.4rem;

    .text,
    .heading {
      color: var(--white);
      text-wrap: balance;
    }
  }

  .dresscode__columns {
    display: flex;
    gap: 3.2rem;
    flex-grow: 1;

    .dresscode__column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2.4rem;

      .dresscode__list {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .dresscode__list li {
        position: relative;
        padding-left: 1.6rem;
        margin-bottom: 0.6rem;
      }

      .dresscode__list li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.5em;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: var(--white);
        display: inline-block;
      }
    }
  }

  .dresscode__list li {
    margin-bottom: 0.6rem;
  }

  .dresscode__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }
</style>
