---
import ImageBackground from './ImageBackground.astro';
import SectionOverlay from './SectionOverlay.astro';
import type { Database } from '../lib/database.types';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="family">
  <SectionOverlay position="top" isBigger />
  <SectionOverlay position="bottom" isDarker />
  <ImageBackground path="/images/family.jpg" alt="Family Image" />
  <div class="family__content section-content">
    <h3 class="heading heading--section">{title}</h3>
    <p class="text text--italic">
      Junto a nuestros queridos padres, Harold Mondragón y Olga Patricia Medina & Fabio Arias y
      Nelly Parra, hemos decidido dar este gran paso y unir nuestras vidas en matrimonio. Este día
      será aún más especial al celebrarlo con ustedes.
    </p>
  </div>
</section>

<style>
  .family {
    position: relative;
    width: 100vw;
  }

  .family__content {
    justify-content: space-between;
    min-height: 80rem;

    .text,
    .heading {
      color: var(--white);
    }

    .text {
      text-align: right;
      text-wrap: balance;
      text-wrap: pretty;
    }
  }
</style>
