---
import Button from './Button.astro';
import ImageBackground from './ImageBackground.astro';
import SectionOverlay from './SectionOverlay.astro';
---

<section class="location">
  <SectionOverlay position="bottom" isBigger />
  <ImageBackground path="/images/location.jpg" alt="Location Image" />
  <div class="location__content section-content">
    <h3 class="heading heading--section">Ubicación</h3>
    <p class="location__text text text--xl text--italic">Ceremonia y recepción</p>
    <p class="location__text text">
      Cr 19, Loma Del Escobero #36c Sur - 259 <br /> Envigado, Antioquia
    </p>
    <Button text="Ver Ubicación" href="https://g.co/kgs/orJ43GH" color="white" />
  </div>
</section>

<style>
  .location {
    position: relative;
    width: 100vw;
    height: 90vh;
  }

  .location__content {
    justify-content: flex-end;

    .location__text,
    .heading {
      text-align: center;
      color: var(--white);
    }

    .heading {
      margin-bottom: 1.6rem;
    }

    .location__text {
      text-wrap: balance;
      text-wrap: pretty;
    }

    .button {
      margin-top: 2.4rem;
    }
  }
</style>
