---
import Logo from './Logo.astro';
---

<section class="rain section-content">
  <span class="heading">
    Lluvia de Sobres
    <Logo color="black" />
  </span>
</section>

<style>
  .rain {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;

    .heading {
      position: relative;
      border-bottom: 1px solid var(--black);
      border-top: 1px solid var(--black);
      font-size: 3.2rem;
      text-align: center;
      padding: 4.2rem 0;
      width: 100%;

      .logo {
        position: absolute;
        top: calc(50% - 29.5px);
        left: calc(50% - 25.5px);
        opacity: 0.11;
      }
    }
  }
</style>
