<section class="rsvp">
  <h2 class="heading heading--3">RSVP</h2>
  <p class="text">Antes del 1 de Septiembre</p>
</section>

<style>
  .rsvp {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2.4rem 3.2rem;
    background-color: var(--white);

    .text {
      text-wrap: balance;
      text-wrap: pretty;
      line-height: 1.35;
    }
  }
</style>
